.social {
  margin-left: -20px;
  margin-right: -20px;
}

.social__item {
  fill: #d22856;
  margin-left: 20px;
  width: 46px;
  height: 46px;
  border: solid 3px rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border: solid 3px rgba(40, 54, 69, 1);
  }

  &:focus {
    border: solid 3px rgba(40, 54, 69, 0.3);
  }
}
